body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  margin-top: 50px;
  display: block;
}

.number{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin: auto;

}

.number span{
  text-align: center;
  padding: 3rem;
  border: 2px solid white;
  background: aquamarine;
  font-size: 25px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.random{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-top: 50px;

}

.random span{
  text-align: center;
  padding: 3rem;
  border: 1px solid white;
  background: aquamarine;
  font-size: 25px;
  font-weight: 600;
  color: rgb(0, 0, 0);

}

